/*
---------------------------------------------------------------------------------------------
-- GLOBAL
---------------------------------------------------------------------------------------------
*/

	*{
		box-sizing:content-box;
		}
	
	html, body {
		 height:100%;
	}
	
	body {
		margin:0; 
		font-family:HelveticaLight;
		font-weight:normal;
		}
	

/*
---------------------------------------------------------------------------------------------
-- SECTIONS
---------------------------------------------------------------------------------------------
*/

	section{
		margin:30px;
		border:1px solid #EEE;
		padding:20px;
		}
		
		
/*
---------------------------------------------------------------------------------------------
-- FORMATTING
---------------------------------------------------------------------------------------------
*/

	h1, h2, h3{
		font-family:HelveticaThin;
		font-weight:normal;
		}
		
/*
---------------------------------------------------------------------------------------------
-- CLASSES
---------------------------------------------------------------------------------------------
*/

	.widget{
		min-height:100px;
		background:#EEE;
		padding:30px;
		}		
		

		
/*
---------------------------------------------------------------------------------------------
-- SPECIAL
---------------------------------------------------------------------------------------------
*/


/*
---------------------------------------------------------------------------------------------
-- GLOBAL
---------------------------------------------------------------------------------------------
*/

