/* CSS Document */

/*
---------------------------------------------------------------------------------------------
-- GLOBAL
---------------------------------------------------------------------------------------------
*/
	html, body, section, div, h1, h2, h3, ul{
		margin:0;
		padding:0;
		}
	
	html{
		
		}
		
	body{
		font:11px normal Arial, Verdana, Geneva, sans-serif;
		width:800px;
		padding:20px;
		margin:auto;
		line-height:1.4em;
		}
		

/*
---------------------------------------------------------------------------------------------
-- SECTIONS
---------------------------------------------------------------------------------------------
*/

	section{
		border:1px solid #CCC;
		padding:20px;
		margin-bottom:20px;
		}
		
	section{
		}
		
	section.page{
		
		}
		
	.options{
		border-style:dashed;
		}
		
	nav{
		margin:20px 0;
		}
		
	nav ul,
	nav li{
		margin:0;
		padding:0;
		list-style:none;
		}
		
	nav a{
		display:inline-block;
		margin-top:3px;
		}
		
	.widget{
		padding:50px 0;
		margin:20px 0;
		font-style:italic;
		letter-spacing:1em;
		text-align:center;
		background:#EEE;
		text-transform:uppercase;
		border:1px dashed #AAA;
		}
		
/*
---------------------------------------------------------------------------------------------
-- FORMATTING
---------------------------------------------------------------------------------------------
*/
	h1, h2, h3, p{
		margin:0.8em 0;
		font-weight:normal;
		}
		
	h1:first-child, 
	h2:first-child, 
	h3:first-child{
		margin-top:10px;
		}
		
	h1{
		font-size:28px;
		}
		
	h2{
		font-size:20px;
		}
		
	h3{
		font-size:16px;
		}
		
	ul, ol{
		margin:20px 0 20px 40px;
		}
		
	a, a:link, a:visited{
		color:#C00;
		text-decoration:none;
		font-weight:bold;
		}
		
	a:hover{
		color:#F00;
		}
		
		
	img{
		max-height:100px;
		}
		
/*
---------------------------------------------------------------------------------------------
-- classes
---------------------------------------------------------------------------------------------
*/

	nav a:link{
		padding:5px 10px;
		background:#CCC;
		border-radius:3px;
		display:inlne-block;
		width:auto;
		}
		
	nav a:hover{
		background:#DDD;
		}

	.next{
		}
		
	.back{
		}
		
/*
---------------------------------------------------------------------------------------------
-- SPECIAL
---------------------------------------------------------------------------------------------
*/
	/* notes */
	
		.note{
			border-radius:5px;
			margin-top:20px;
			border:1px solid red;
			padding:20px;
			}
			
		code{
			display:inline-block;
			background:#EEE;
			color:#39F;
			padding:2px 4px;
			font:12px normal Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
			}

	/* div/section identifiers */
	
		.options,	
		section[id],
		div[id]{
			border-radius:5px;
			border:1px solid #EEE;
			margin:10px 0;
			padding:20px;
			position:relative;
			}
			
		section[id]:before,
		div[id]:before{
			display:block;
			position:absolute;
			top:0;
			left:0;
			background:#EEE;
			content:'#' attr(id);
			padding:2px 6px;
			margin-bottom:5px;
			border-bottom-right-radius:5px;
			color:black;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
			font-size:9px;
			}
			
		a[item]:before,
		p[item]:before,
		h2[item]:before,
		h3[item]:before,
		div[item]:before{
			display:inline-block;
			content:'[' attr(item) ']';
			padding:2px 6px;
			color:blue;
			letter-spacing:normal;
			font-style:normal;
			font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
			font-size:9px;
			}
			
