$red            : #333333;
$blue           : #09bcec;
$darkBlue		: #364491;

$charcoal  	    : #464646;
$lightCharcoal  : #787878;
$grey			: #959595;
$formGrey		: #a6a5a5;
$formBG			: #c8c7c7;
$subText	    : #707070;
$numbers		: #898989;

$grey           : #bbbaba;
$lightGrey      : #ebebeb;
$lighterGrey    : #ececec;
$disabledGrey   : #adadad;
$darkGrey       : #e1e1e1;

$cream          : #f2ede3;

$white          : #ffffff;