/* -----------------------
  Fonts
------------------------ */
@font-face {
    font-family: 'ProximaNovaAltSemi';
    src: url('../fonts/proximanovaalt-semibold.eot');
    src: url('../fonts/proximanovaalt-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovaalt-semibold.woff') format('woff'),
         url('../fonts/proximanovaalt-semibold.ttf') format('truetype'),
         url('../fonts/proximanovaalt-semibold.svg#ProximaNovaAltBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaAltBold';
    src: url('../fonts/proximanovaalt-bold.eot');
    src: url('../fonts/proximanovaalt-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovaalt-bold.woff') format('woff'),
         url('../fonts/proximanovaalt-bold.ttf') format('truetype'),
         url('../fonts/proximanovaalt-bold.svg#ProximaNovaAltBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
