/* -----------------------
   Home Page
 ------------------------ */
.background {
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	-webkit-background-size: 100% 100%;
}
.animate {
	-webkit-transform: translate3d(0, 0, 0);
}

/* Rotate device prompt */
#rotator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	opacity: 0;
	z-index: 100;
}

#rotatePrompt {
	position: absolute;
	top: 50%;
	left: 50%;

}

#loader {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #77121e; //rgba(0, 0, 0, 0.5);
	z-index: 1000;
	-webkit-transition: opacity 200ms linear;
}

#loader > p {
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	text-align: center;
	color: white;
	text-shadow: 0 1px 1px black;
	padding: 0 10px;
	font-size: 16px;

}
#loader > .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	min-width: 24px;
	max-width: 24px;
	height: 24px;
	min-height: 24px;
	max-height: 24px;
	margin-left: -12px;
	margin-top: -12px;
	background: url('../img/spinner.png') center center no-repeat transparent;
	-webkit-background-size: contain;
	-webkit-animation: spin 750ms ease-in-out infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg) }
	100% { -webkit-transform: rotate(360deg) }
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;	/* for older androids */
	height: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: opacity 350ms linear;
	background-color: #77121e;
}

#main-background {
	position:absolute;
	width:100%;
	height:100%;
	
}

.page { 
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
	opacity:0;
	-webkit-transition: opacity 0.25s ease-out;
}

.button {
	color:#adabab;
	border:1px solid #adabab;
	font-size:19px;
	background-color: rgba(0,0,0,0.6);
	padding: 13px 10px 15px 10px;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	height: 17px;
}

.button span {
	display:block;
	float:left;
}

.button div{
	float:right;
	margin: 5px 1px 0 4px;
	width:18px;
	height:11px;
	background: url('../img/arrow.png')
}

.title {
	position: absolute;
	width: 150px;
	height: 22px;
	top: 0px;
	left: 0px;
	color: #adabab;
	background-color: rgba(168, 40, 40, 0.5);
	padding: 10px;
	font-size: 1.4em;
}

#landing-logo {
	position: absolute;
	top: 5%;
	left: 50%;
	width:120px;
	height:120px;
	margin-left:-60px;
	opacity:0.5;
	background-color: #fff;
}

#landing-copy {
	position: absolute;
	top: 166px;
	left: 50%;
	width:300px;
	height:80px;
	margin-left:-150px;
	color: #f0ebec;
	text-align:center;
	font-size: 1.1em;
	line-height:1.1;
}

#landing-get-started {
	position: absolute;
	bottom: 20px;
	right: 16px;
	width: 125px;
}

#intro-tint {
	width:100%;
	height:100%;
	background-color: #410413;
	opacity:0.5;
}

#intro-title {
	width:119px;
}

#intro-question,#intro-stylizer {
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 30px;
	text-align: center;
	color: #f0ebec;
	font-size: 1.4em;
}

#intro-question-instructions, #intro-stylizer-instructions{
	position: absolute;
	top: 112px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 30px;
	text-align: center;
	color: #adabab;
	font-size: 1.0em;
	line-height: 1.2;
}

#intro-take,#intro-upload {
	position: absolute;
	top: 35%;
	left: 50%;
	margin-left:-80px;
	width: 138px;
	background-color: rgba(0,0,0,0.4);
}

#intro-or {
	position: absolute;
	top: 234px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 30px;
	text-align: center;
	color: #adabab;
	font-size: 2.4em;
}

#intro-stylizer{
	top: 289px;
}

#intro-stylizer-instructions {
	top:331px;
}

#intro-upload {
	top: 83%;
	left: 50%;
	margin-left:-86px;
	width: 150px;
}

#intro-smallprint {
	position: absolute;
	right: 7px;
	bottom: 6px;
	color: #adabab;
	font-size: 0.5em;
}

/* tablets or larger devices */
@media screen and (min-width: 900px) , (min-height:900px) {
	
	.button {
		font-size:25px;
		padding: 15px 10px 15px 13px;
		height: 28px;
	}

	#landing-logo {
		position: absolute;
		top: 5%;
		left: 50%;
		width:200px;
		height:200px;
		margin-left:-100px;
		opacity:0.5;
		background-color: #fff;
	}

	#landing-copy {
		top: 260px;
		width:500px;
		height:80px;
		margin-left:-250px;
		font-size: 1.8em;
		line-height:1.1;
	}

	#landing-get-started {
		bottom: 24px;
		right: 24px;
		width: 165px;
	}

	.button div{
		margin: 8px 4px 0 4px;
	}


}



