/* -----------------------
   Image Page
 ------------------------ */

#scan-frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 270px;
	margin-left: -100px;
	margin-top: -135px;
	background-color: orange;
	overflow:hidden; 
	
}

.test { 
	position:absolute;
	top:0px;
	left:0px;
}

#scan-holder {
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	-webkit-background-size: contain;
}

