@mixin hidden-text() {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin rounded-corners-top($radius) {
  -webkit-border-top-left-radius  : $radius;
  -webkit-border-top-right-radius : $radius;
     -moz-border-radius-topleft   : $radius;
     -moz-border-radius-topright  : $radius;
       -o-border-top-left-radius  : $radius;
       -o-border-top-right-radius : $radius;
          border-top-left-radius  : $radius;
          border-top-right-radius : $radius;
}

@mixin rounded-corners-btm($radius) {
  -webkit-border-bottom-left-radius  : $radius;
  -webkit-border-bottom-right-radius : $radius;
     -moz-border-radius-bottomleft   : $radius;
     -moz-border-radius-bottomright  : $radius;
       -o-border-bottom-left-radius  : $radius;
       -o-border-bottom-right-radius : $radius;
          border-bottom-left-radius  : $radius;
          border-bottom-right-radius : $radius;
}

@mixin box-shadow($x, $y, $spread, $color) {
  -webkit-box-shadow: $x $y $spread $color;
     -moz-box-shadow: $x $y $spread $color;
      -ms-box-shadow: $x $y $spread $color;
          box-shadow: $x $y $spread $color;
}

@mixin box-shadow-none() {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
          box-shadow: none;
}

@mixin box-shadow-inset($x, $y, $spread, $color) {
  -webkit-box-shadow: inset $x $y $spread $color;
     -moz-box-shadow: inset $x $y $spread $color;
      -ms-box-shadow: inset $x $y $spread $color;
          box-shadow: inset $x $y $spread $color;
}

@mixin radial-gradient($startColor, $endColor) {
  background-image: -webkit-radial-gradient(65% 50%, circle cover, $startColor, $endColor 40%);
  background-image:    -moz-radial-gradient(65% 50%, circle cover, $startColor, $endColor 40%);
  background-image:      -o-radial-gradient(65% 50%, circle cover, $startColor, $endColor 40%);
  background-image:     -ms-radial-gradient(65% 50%, circle cover, $startColor, $endColor 40%);
  background-image:         radial-gradient(65% 50%, circle cover, $startColor, $endColor 40%);

}

@mixin transition($prop, $dur, $ease) {
  -webkit-transition: $prop $dur $ease;
     -moz-transition: $prop $dur $ease;
       -o-transition: $prop $dur $ease;
      -ms-transition: $prop $dur $ease;
          transition: $prop $dur $ease;
}

@mixin transform($prop: none) {
  -webkit-transform: $prop;
     -moz-transform: $prop;
       -o-transform: $prop;
      -ms-transform: $prop;
          transform: $prop;
}

@mixin send-button() {
    width: 179px;
    height: 33px;
    border-style: none;
    cursor: pointer;
    margin: 19px 0 0 0;
    background-color: $red;
    color: $white;
}

@mixin header-tip() {
    position: relative;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background: url(../img/down-arrow.jpg) no-repeat 10px 31px;
    padding-bottom: 6px;
    display: inline-block;

    h4 {
        padding: 8px 20px 0 20px;
        background-color: $lightGrey;
        height: 23px;
    }
}